<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="YGOP_Combo" connectionString="Data Source=172.17.7.106;Initial Catalog=YGOP_Combo;Persist Security Info=True;User ID=ygtest;Password=ygtest;Connect Timeout=120;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>